<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Login/Logout animation concept</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/jquery-3.5.1.min.js"></script>

    <style>
        div.layui-layer-tips .layui-layer-content {
            color: red;
        }
    </style>

</head>

<body>

    <div class="cont">
        <div class="demo">
            <div class="login">
                <div class="login__check"></div>
                <div class="login__form">
                    <div class="login__row">
                        <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
            <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" />
          </svg>
                        <input type="text" name="username" class="login__input name" placeholder="用户名" autocomplete="off" />
                        <span></span>
                    </div>
                    <div class="login__row">
                        <svg class="login__icon pass svg-icon" viewBox="0 0 20 20">
            <path d="M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0" />
          </svg>
                        <input type="password" name="password" class="login__input pass" placeholder="密码" />
                        <span></span>
                    </div>
                    <span class="msg"></span>
                    <form action="">
                        <input type="text" id="myCode" autocomplete="off" placeholder="验证码">
                        <input type="button" id="code">
                        <!-- <input type="button" id="submit" value="提交"> -->
                    </form>
                    <button type="button" id="submit" class="login__submit">登 录</button>
                    <p class="login__signup">Don't have an account? &nbsp;<a href="../regsiter2.html">立即注册</a></p>
                </div>
            </div>
        </div>
    </div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
</body>
<script src="../layer/layer.js"></script>
<script src="../static/jquery.validate.js"></script>
<script src="../static/ajax.js"></script>
<script src="../static/login.js"></script>

<script>
    // $("input[name='username']").blur(function() {
    //     layer.tips('用户名不能为空', '.login__input', {
    //         tips: [3, 'white'],
    //         time: 1000,
    //     }); //下面
    // })
</script>

</html>